/*
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Saira', sans-serif;
*/

html {
  font-size: 16px;
}

.logo {
  height: 18.5rem;
  width: auto;
  margin-left: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  border-bottom: 1px solid #ceced2;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 7rem;
  line-height: .8;
  margin-top: 1rem;
  margin-right: 2rem;
}

.game {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 8rem;
  width: 96%;
}

#user-selection-box {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 70%;
}

.images {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.selection-box {
  width: 40%;
  margin-right: 3rem;
}

.selection-box img {
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.selection-box p {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.results {
  width: 30%;
  background-color: #c0c0c7;
  border: 1px solid #c0c0c7;
  border-radius: 3px;
}

.last-game-results {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 4px;
}

.outcome {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  height: 1.5rem;
  text-align: left;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}


/*span {
  text-decoration: underline;
}*/

.selection-info {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  height: 1.5rem;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: #000;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.player-score {
  width: 30%;
  height: 8rem;
}

.vs img {
  max-height: 3.5rem;
  width: auto;
  margin-top: 1rem;
}

#human-score-box {
  border: 4px solid black;
  border-radius: 3px;
  margin-bottom: 1rem;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cpu-score-box {
  border: 4px solid black;
  border-radius: 3px;
  margin-bottom: 1rem;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#human-score {
  font-family: 'Press Start 2P', cursive;
  color: #2b26b6;
  text-align: center;
  font-size: 3rem;
}

#cpu-score {
  font-family: 'Press Start 2P', cursive;
  color: #d20342;
  text-align: center;
  font-size: 3rem;
}

.player-name p {
  font-family: 'Saira', sans-serif;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: 'Saira', sans-serif;
  color: #000;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 70%;
}

.btn:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.footer-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

footer img {
  height: 4rem;
  width: auto;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  font-family: 'Saira', sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
}
